
<h1>Sample App for chapter 3</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
<p>
  <a href="/static_pages/help">Help</a>
   </p>
   <p>
  <a href="/static_pages/about">About</a>
   </p>
<p>
  <a href="https://floating-sierra-53348.herokuapp.com/static_pages/contact">Contact us</a>
   </p>

